<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=VegaCmsDbServer;Initial Catalog=VegaCms;User Id=Vegacms;Password=Vegacms"/>
    <add key="DbProvider" value="mssql" />
    <add key="ScriptsFolder" value="Scripts" />
  </appSettings>
</configuration>