<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=localhost;Database=test;UID=db;PWD=db"/>
    <add key="DbProvider" value="mysql"/>
    <add key="ScriptsFolder" value="D:\Work\Vega\GSS2.0\gss-2.0\db\Scripts"/>
  </appSettings>
</configuration>