<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=localhost;Database=test;UID=db;PWD=db"/>
	  <add key="DbProvider" value="mysql"/>
    <add key="ScriptsFolder" value="D:\Work\Vega\GSS2.0\gss-2.0\db\Scripts"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
